html, body { height: 100%; width: 100%; font-family: Helvetica,Arial,sans-serif;}

.home_splash, .about {
  padding-left:10px;
}

.navbar {
  height: 60px; width: 100%;
  position: absolute;
  background: none repeat scroll 0 0 #33b6e8;
}
a.logo {
    float: left;
    padding: 5px;
    margin-left: 10px;
    text-align: center; font-size: 3em; font-weight: 800;
    text-decoration: none; color: white;
} 
  .nav {
     height: 46%;
  }
    .nav a {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      color: white;
      font-size: 2.2em;
      margin-left: 20px;
    }
.content {
  float: right;
  width: 100%; height: 92.5%;
  margin-top: 80px;
  font-size: 1.5em;
}
